footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--colorSecundario);
    color: white;
    padding: var(--marginGrid);
}

footer a{
    color: white;
    text-decoration: none;

}

footer a:hover{
    color: var(--colorPrincipal);
}
.arriba{
    position: fixed;
    bottom: 50px;
    right: 10px;
    font-size: 2em;
}

.arriba a{
    color: var(--colorPrincipal);
}